<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jst.dao.DimRightLinkServicesMapper" >
  <resultMap id="BaseResultMap" type="com.jst.model.DimRightLinkServices" >
    <id column="right_service_id" property="rightServiceId" jdbcType="INTEGER" />
    <result column="right_id" property="rightId" jdbcType="INTEGER" />
    <result column="service_id" property="serviceId" jdbcType="INTEGER" />
    <result column="service_name" property="serviceName" jdbcType="VARCHAR" />
    <result column="type_id" property="typeId" jdbcType="INTEGER" />
    <result column="market_price" property="marketPrice" jdbcType="DOUBLE" />
    <result column="create_time" property="createTime" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="INTEGER" />
    <result column="delete_time" property="deleteTime" jdbcType="INTEGER" />
  </resultMap>


  <sql id="Base_Column_List" >
    right_service_id, right_id, service_id, service_name, type_id, market_price, create_time, 
    update_time, delete_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from _dim_right_link_services
    where right_service_id = #{rightServiceId,jdbcType=INTEGER}
  </select>


  <select id="selectByServiceId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
      from _dim_right_link_services
    where service_id = #{serviceId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from _dim_right_link_services
    where right_service_id = #{rightServiceId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jst.model.DimRightLinkServices" >
    insert into _dim_right_link_services (right_service_id, right_id, service_id, 
      service_name, type_id, market_price, 
      create_time, update_time, delete_time
      )
    values (#{rightServiceId,jdbcType=INTEGER}, #{rightId,jdbcType=INTEGER}, #{serviceId,jdbcType=INTEGER}, 
      #{serviceName,jdbcType=VARCHAR}, #{typeId,jdbcType=INTEGER}, #{marketPrice,jdbcType=DOUBLE}, 
      #{createTime,jdbcType=INTEGER}, #{updateTime,jdbcType=INTEGER}, #{deleteTime,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jst.model.DimRightLinkServices" >
    insert into _dim_right_link_services
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rightServiceId != null" >
        right_service_id,
      </if>
      <if test="rightId != null" >
        right_id,
      </if>
      <if test="serviceId != null" >
        service_id,
      </if>
      <if test="serviceName != null" >
        service_name,
      </if>
      <if test="typeId != null" >
        type_id,
      </if>
      <if test="marketPrice != null" >
        market_price,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="deleteTime != null" >
        delete_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rightServiceId != null" >
        #{rightServiceId,jdbcType=INTEGER},
      </if>
      <if test="rightId != null" >
        #{rightId,jdbcType=INTEGER},
      </if>
      <if test="serviceId != null" >
        #{serviceId,jdbcType=INTEGER},
      </if>
      <if test="serviceName != null" >
        #{serviceName,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="marketPrice != null" >
        #{marketPrice,jdbcType=DOUBLE},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=INTEGER},
      </if>
      <if test="deleteTime != null" >
        #{deleteTime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jst.model.DimRightLinkServices" >
    update _dim_right_link_services
    <set >
      <if test="rightId != null" >
        right_id = #{rightId,jdbcType=INTEGER},
      </if>
      <if test="serviceId != null" >
        service_id = #{serviceId,jdbcType=INTEGER},
      </if>
      <if test="serviceName != null" >
        service_name = #{serviceName,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        type_id = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="marketPrice != null" >
        market_price = #{marketPrice,jdbcType=DOUBLE},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=INTEGER},
      </if>
      <if test="deleteTime != null" >
        delete_time = #{deleteTime,jdbcType=INTEGER},
      </if>
    </set>
    where right_service_id = #{rightServiceId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jst.model.DimRightLinkServices" >
    update _dim_right_link_services
    set right_id = #{rightId,jdbcType=INTEGER},
      service_id = #{serviceId,jdbcType=INTEGER},
      service_name = #{serviceName,jdbcType=VARCHAR},
      type_id = #{typeId,jdbcType=INTEGER},
      market_price = #{marketPrice,jdbcType=DOUBLE},
      create_time = #{createTime,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=INTEGER},
      delete_time = #{deleteTime,jdbcType=INTEGER}
    where right_service_id = #{rightServiceId,jdbcType=INTEGER}
  </update>
</mapper>